In [8]:
# Import libraries 
import pandas as pd
import ast
import numpy as np

In [9]:
# Read the data 
movie_data = pd.read_csv('movies_metadata.csv')

In [13]:
# Get 5 movies from the data
movie_sample_df = movie_data.sample(5)

In [14]:
for i in range(5):    
    movie_genre_list = ast.literal_eval(movie_sample_df.iloc[i]['genres'])[0]
    genre = movie_genre_list['name']
    print(genre)

Comedy
Drama
Comedy
Drama
Comedy

In [12]:
movie_sample_df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
22058,False,"{'id': 131635, 'name': 'The Hunger Games Colle...",130000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.thehungergames.movie/,101299,tt1951264,en,The Hunger Games: Catching Fire,Katniss Everdeen has returned home safe after ...,...,2013-11-15,847423452.0,146.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every revolution begins with a spark.,The Hunger Games: Catching Fire,False,7.4,6656.0
29608,False,"{'id': 39438, 'name': 'Emmanuelle Collection',...",0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,61108,tt0095094,fr,Emmanuelle 6,Journey with Emmanuelle and the world's most e...,...,1988-07-06,0.0,80.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,Never before -- Never again!,Emmanuelle 6,False,4.3,8.0
5873,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,41209,tt0284655,en,WiseGirls,A new waitress working at an Italian restauran...,...,2002-12-06,0.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Crime never looked so good,WiseGirls,False,5.0,8.0
22269,False,NaN,0,[],NaN,160706,tt2244856,en,Hava Nagila: The Movie,"A documentary on the history of the song ""Hava...",...,2012-07-19,0.0,75.0,[],Released,NaN,Hava Nagila: The Movie,False,6.5,2.0
29208,False,NaN,11000000,"[{'id': 18, 'name': 'Drama'}]",http://womaningoldmovie.com/,304357,tt2404425,en,Woman in Gold,"Maria Altmann, an octogenarian Jewish refugee,...",...,2015-04-10,61619773.0,120.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Justice is priceless.,Woman in Gold,False,7.3,454.0